* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    padding: 0 150px;
    background: #dda64f;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-left {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.logo {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

ul.menu {
    display: flex;
    gap: 20px;
}

ul.menu li {
    list-style-type: none;
}

ul.menu li a {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.login {
    display: flex;
    width: 164px;
    justify-content: space-between;
}

.btn-login {
    background: none;
    border: none;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.btn-join {
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    background-color: #9d67d7;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.arrow {
    margin-left: 4px;
}