
* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    padding: 0 150px;
    background: #dda64f;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-left {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.logo {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

ul.menu {
    display: flex;
    gap: 20px;
}

ul.menu li {
    list-style-type: none;
}

ul.menu li a {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.login {
    display: flex;
    width: 164px;
    justify-content: space-between;
}

.btn-login {
    background: none;
    border: none;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.btn-join {
    padding: 10px;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    border: none;
    background-color: #9d67d7;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.arrow {
    margin-left: 6px;
}
.content {
    display: grid;
    width: min-content;
}
.content-small-title {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;

}
.content-large-title {
    display: contents;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    width: min-content;
}
.content-description {
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;

}
.btn-action-get-quote {
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    background-color: #9d67d7;
    color: #fff;
    font-size: 8px;
    cursor: pointer;
    font-weight: bold
}
.btn-action-learn {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px double;
    background-color:#dda64f;
    color: #fff;
    font-size: 8px;
    cursor: pointer;
    font-weight: bold
}
.group-courses {
    display: flex;
 
}
.icon {
    margin-top: 0px;
    margin-bottom: 10px;
}
.course-wrapper {
    flex: 1;
    border-radius: 1px;
    overflow: hidden;
    background-color: #FFFFFF;
    width: 25%;
    margin-left: 30px;
    margin-top: 40px;
    padding: 50px;
    padding-bottom: 0%;
    
}
.course-title {
    font-weight: bold;
    font-size: small;
    color: #252B42;
    white-space: nowrap;
}
.line {
    display: table-cell;
}
.course-description{
    color: #737373;
    font-size: x-small;
    white-space: nowrap;
}
